name: opti_frontend
description: A Flutter camera-based frontend for Opti backend.
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  # Core dependencies
  camera: ^0.10.5+9
  path_provider: ^2.0.15
  http: ^1.1.0
  permission_handler: ^11.1.0
  open_filex: ^4.4.0
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.2

flutter:
  uses-material-design: true

  assets:
    - assets/images/OPTIFOCUS_LOGO.png